<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Dom</title>
</head>

<body>
    <button id='button'>点我虚拟渲染</button>
    <ul id='container'></ul>
</body>
<script>
    document.getElementById('button').addEventListener('click', () => {
        // 开始计时
        const start = Date.now()
        // 总数据
        const total = 10000
        // 获取容器
        const container = document.getElementById('container')
        // 将数据插入容器中，页面渲染是异步的，微任务，在setTimeout前面执行
        for (let i = 0; i < total; i++) {
            let li = document.createElement('li')
            /** ~数取反，并且去掉小数 */
            li.innerText = ~~(Math.random() * total)
            container.appendChild(li)
        }
        console.log('js运行时间', Date.now() - start)
        setTimeout(() => {
            console.log('总运行时间', Date.now() - start)
        }, 0)
    })
</script>

</html>