.canva{
    width: 300px;
    height: 300px;
    display: none;
    background:linear-gradient(50deg, rgba(25,54,99,1) 35.0%, rgba(32,96,195,1) 100.0%)
}
.btn{
    height: 30px;
    width: 100px;
    background-color: blue;
}